@use "../utilities/variables" as*;
@use "../utilities/mixin" as*;

.text-nosotros {
font-size: 20px;
text-align: justify;
width: 1fr;
margin: 1rem;
padding: 1rem;
@include flex (center);
align-items: center;


}

.imagen-cal{
    @include flex (center);
    .img-cal {
        justify-content: center;
    }

}
